@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
  @apply h-full;
}

body {
  @apply h-full;
  overflow-x: hidden;
}

#_next {
  @apply h-full;
}

@layer components {
  .bannerButton {
    @apply flex items-center gap-x-2 rounded px-4 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-5 md:text-xl;
  }

  .modalButton {
    @apply flex h-11 w-11 items-center justify-center rounded-full border-2 border-[gray] bg-[#2a2a2a]/60 transition hover:border-white hover:bg-white/10;
  }
}

.rating-bar {
  display: flex;
  align-items: center;
  height: 30px;
}

.rating {
  height: 100%;
  border-radius: 15px;
  background-color: #f1f1f1;
  margin-right: 10px;
  position: relative;
}

.rating:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  border-radius: 15px;
  background-color: #4caf50;
  transition: width 0.5s ease-in-out;
}

.rating-value {
  font-weight: bold;
  font-size: 14px;
}

.tengah {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1300px;
}
